$white-color: #ffffff;
$black-color: #000000;
$bg-color: #fbf5f4;
$text-color: #000000;
// $placeholder-color: #959595;
$active-color: #f78e6a;
$gradient-top-color: #f78e6a;
$gradient-bottom-color: #fc66a2;
$grey-color: #c9c4c3;
// $hover-color: rgba(#64c29e, 0.8);
// $link-color: #4d4959;

$fontfamily: "Geometria", "Arial", sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$minwidth: 320px;
$mw: 1770;
$md1: $mw + 15;
$md2: 1029.98;
$md3: 879.98;
$md4: 789.98;
$md5: 589.98;
