.main-header {
  width: 100%;
  min-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 55px;
    top: 0;
    left: 0;
    background-color: $bg-color;
    z-index: 3;
  }

  & > .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
  }

  &__burger {
    display: block;
    width: 24px;
    height: 16px;
    padding: 0;
    position: relative;
    z-index: 5;
    background-color: transparent;
    border: none;
    cursor: pointer;

    & span {
      position: absolute;
      left: 0;
      width: 24px;
      height: 2px;
      top: 0;
      background-color: transparent;
      transition: all 0.3s ease 0s;

      &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 2px;
        left: 0;
        top: 0;
        background-color: $black-color;
        transition: all 0.3s ease 0s;
      }

      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        top: 0;
        right: 0;
        background-color: $active-color;
        transition: all 0.3s ease 0s;
      }

      &:nth-child(2) {
        top: 7px;
      }

      &:nth-child(3) {
        top: 14px;

        &::after {
          width: 14px;
          left: 4px;
        }
      }
    }

    &.active span {
      &:nth-child(3) {
        transform: scale(0);
      }

      &::before {
        display: none;
      }

      &:first-child {
        &::after {
          top: 7px;
          transform: rotate(-45deg);
        }
      }

      &:nth-child(2) {
        &::after {
          transform: rotate(45deg);
        }
      }
    }

    &:hover,
    &:focus {
      outline: none;
      transition: all 0.3s ease 0s;

      & span::before {
        background-color: $gradient-bottom-color;
        transition: all 0.3s ease 0s;
      }

      & span::after {
        background-color: $gradient-bottom-color;
        transition: all 0.3s ease 0s;
      }
    }

    &:active {
      & span::before {
        background-color: rgba($gradient-top-color, 0.5);
        transition: all 0.1s ease 0s;
      }

      & span::after {
        background-color: rgba($gradient-bottom-color, 0.5);
        transition: all 0.1s ease 0s;
      }
    }

    & small {
      display: none;

      @media (min-width: 767.98px) {
        display: block;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        color: $text-color;
        position: relative;
        left: 39px;
      }
    }

    &.active small {
      @media (min-width: 767.98px) {
        transform: scale(0);
      }
    }
  }

  &__logo {
    position: relative;
    z-index: 4;

    @media (min-width: 768px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 1920px) {
      left: 0;
      top: 50%;
      transform: translate(15px, -50%);
    }
  }

  // &__link {
  //   img {
  //     width: 40px;
  //     height: 25px;
  //   }
  // }

  &__phone {
    display: none;

    @media (min-width: 767.98px) {
      display: block;
      font-family: "Montserrat", "Arial", sans-serif;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      color: $text-color;
      text-decoration: none;
      position: relative;
      z-index: 4;
    }
  }
}
